body {
    text-align: center;

    background-color: #222;
}

#pageDiv {
    display: flex;
    /* width: auto; */
}


#headingDiv {
    display: flex;
    width: 100%
}

#prvMnt, #nxtMnt, #prvYear, #nxtYear {
    text-shadow: rgba(253, 255, 158, 0.582) 2px 1px;
    cursor: pointer;
    flex: 1;
    border: none;
    border-radius: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: larger;
    outline: none;
    margin-top: 3%;
    margin-bottom: 3%;
    transition: all ease-in-out .5s;
}

#prvMnt:hover, #nxtMnt:hover, #prvYear:hover, #nxtYear:hover {
    opacity: 77%;
    transform: scale(.98,.98);
    border-radius: 30px;

    transition-duration: .5s;
} 

#prvMnt {
    margin-left: 23%;
    background-color: rgb(255, 187, 232);
}
#nxtMnt {
    background-color: rgb(255, 115, 255);
    margin-right: 23%;
}

#prvYear {
    margin-left: 2%;
    background-color: rgb(115, 239, 255);
}
#nxtYear {
    background-color: rgb(16, 255, 175);
    margin-right: 2%;
}

#calendarStr {
    cursor: default;
    flex: 2.9;
    background-color: antiquewhite;
    border:solid 10px rgb(202, 244, 255);
    border-radius: 10px;

    margin: 2%;
    margin-left: 3%;
    margin-right: 3%;

    padding: 20px;
}

#calBody {
    flex: .5;
    text-align: center;
    /* margin: auto; */
    height: 677px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

}

#calBody h3 {
    margin-top: 50%;
}

.daysOfWeek {
    border: solid black;
    background-color: antiquewhite;

    text-align: center;
}

.datesDivs {
    user-select: none;
    border: solid black;
    background-color: rgb(202, 244, 255);

    text-align: center;
    transition: all ease-in-out .5s;
}

.datesDivs:hover {
    cursor: pointer;
    background-color: rgb(109, 226, 255);
}

#selectedDay {

    border: solid rgb(255, 255, 182);
    transform: scale(.97,.93);
}

.todaysDiv {
    background-color: rgb(255, 226, 231);
}

.outOfMonth {
    cursor: default;
    border: solid black;
    background-color: rgb(202, 244, 255);

    text-align: center;
    opacity: 70%;
}

#imgDiv {
    flex: 1;

    display: flex;

    flex-direction: column;
}

#imgCon {
    width: 700px;
    height: auto;
}

#imgCon img {
    width: 100%;
}

#imgCon h3 {
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 187);
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -110%);
    width: 500px;
    opacity: 0%;
    transition: ease-in-out 1s;
    padding: 10px;
    border-radius: 10px;
}

#imgCon:hover h3 {
    opacity: 100%;
}