body {
    background-image: linear-gradient(rgb(255, 140, 9), rgb(254, 255, 175), rgb(119, 178, 255));

}

.movieDiv {
    background-image: linear-gradient(rgba(236, 158, 255, 0.644), rgb(206, 71, 71), rgb(255, 255, 119));
    margin: 2%;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}

.movieContainers {
   
    background-color: aqua;
    text-align: center;
}

#rentRandomButton, #returnRandomButton {
    display: none;
}

#allAvailable, #allRented {
    display: flex;
    flex-wrap: wrap;
}



/* .marvel {
    margin-bottom: 7%;

} */