html
    head
        title Register

        style
            include ../public/register.css

        script
            include ../public/register.js

    body
        
        #formDiv
            h1#regHead Register Today
            form#regForm
                label.lables Email
                input(placeholder='Enter Email', name='email', type='email')
                label.lables Password
                input(placeholder='Enter Password', name='password', type='password', minLength=7)
                label.lables Enter Password Again 
                input(placeholder='Enter Password Again', name='passwordRepeat', type='password', minLength=7)
            button#submitReg Create Your Account 


