html
    head
        title Register

        style
            include ../public/register.css

        script
            include ../public/register.js

    body
        
        #formDiv
            h1#regHead Register Today
            form#regForm
                label.lables Email
                input(placeholder='Enter Email', name='email', type='email')
                label.lables Username
                input(placeholder='Enter Username', name='username')
                label.lables Password
                input#p1(placeholder='Enter Password', name='password', type='password', minLength=7)
                label.lables Enter Password Again 
                input#p2(placeholder='Enter Password Again', name='enter_password_Again', type='password', minLength=7)
                h4#passmsg(style='display: none')
            button#submitReg Create Your Account 


